@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    /* height: 208vh; */
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 16px;
}

img{
    width: 100%;
}

/* !nav bar */
.container nav{
    z-index: 2;
    background-color: rgb(243, 242, 242);
    width: 100%;
    height: 8vh;
    padding: 0px 12px;
    position: fixed;
    display: grid;
    grid-template-columns: 5% 20% 60% 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.288);
}

/* ?logo */
nav .logo{
    font-size: 2rem;
    /* background-color: blue; */
    text-align: center;
    color:rgba(158, 2, 2, 0.795)
}

/* ? text */
nav .text ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    /* background-color: red; */
}

nav .text ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/* *text hover */
nav .text ul li a:hover{
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* ?search bar */
nav .search{
    background-color: rgb(255, 255, 255);
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap:12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

nav .search input{
    border: none;
    width: 100%;
}

/* ?icons */
nav .icon{
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
    text-align: center;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

nav .icon .bi-search{
    display: none;
}

/* *icon hover */
nav .icon .bi-bell-fill:hover{
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .icon .bi-chat-dots-fill:hover{
    background-color: rgb(163, 163, 163);
    /* padding: 4px 8px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .icon .bi-person-fill:hover{
    background-color: rgb(163, 163, 163);
    /* padding: 4px 8px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* !box setup */
.container .gallery{
    z-index: 1;
    /* background-color: rgb(70, 180, 147); */
    width: 100%;
    /* height: 200vh; */
    margin-top: 8vh;
    display: grid;    
    column-gap: 16px;
    grid-template-columns: repeat(5,1fr);
    padding-top: 12px;

}

.gallery .row-content .card img{
    display: grid;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
   
}


.gallery .col1, .col2, .col3, .col4, .col5{
    display: flex;
    flex-direction: column;
    row-gap: 16px;   
}

/* ?card content */
.row-content .card{
    position: relative;
}

.row-content .content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.row-content .content button{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(226, 3, 3);
    color:white;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.row-content .content .content-icon .bi-upload{
    font-size: 1rem;
    background-color: rgb(212, 212, 212);
    padding: 3px 6px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.row-content .content .content-icon .bi-three-dots{
    font-size: 1rem;
    background-color: rgb(212, 212, 212);
    padding: 3px 6px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


.row-content .card .cont{
    display: none;
}

.row-content .card:hover> .cont{
    display: flex;
    box-shadow: 0 0 6px black;
}

/* !max width tab */
@media (max-width:900px) {
    .container .gallery{
        /* background-color: rgb(70, 180, 147); */
        width: 100%;
        /* height: 200vh; */
        margin-top: 8vh;
        display: grid;    
        column-gap: 16px;
        grid-template-columns: repeat(4,1fr);
        padding-top: 12px;
    
    }

.container nav{
    background-color: rgb(243, 242, 242);
    width: 100%;
    height: 8vh;
    padding: 0px 12px;
    position: fixed;
    display: grid;
    grid-template-columns: 5% 35% 40% 20%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.288);
}

/* ?logo */
nav .logo{
    font-size: 2rem;
    /* background-color: blue; */
    text-align: center;
    color:rgba(158, 2, 2, 0.795)
}

/* ? text */
nav .text ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    /* background-color: red; */
}

nav .text ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/* *text hover */
nav .text ul li a:hover{
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* ?search bar */
nav .search{
    background-color: rgb(255, 255, 255);
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap:12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

nav .search input{
    border: none;
    width: 100%;
}

/* ?icons */
nav .icon{
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
    text-align: center;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

/* *icon hover */
nav .icon .bi-bell-fill:hover{
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .icon .bi-chat-dots-fill:hover{
    background-color: rgb(163, 163, 163);
    /* padding: 4px 8px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .icon .bi-person-fill:hover{
    background-color: rgb(163, 163, 163);
    /* padding: 4px 8px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

    
}

/* !max width tab2 */
@media (max-width:682px) {
    .container .gallery{
        /* background-color: rgb(70, 180, 147); */
        width: 100%;
        /* height: 200vh; */
        margin-top: 8vh;
        display: grid;    
        column-gap: 16px;
        grid-template-columns: repeat(3,1fr);
        padding-top: 12px;
    
    }
   
    /* !nav bar */
.container nav{
    background-color: rgb(243, 242, 242);
    width: 100%;
    height: 8vh;
    padding: 0px 12px;
    position: fixed;
    display: grid;
    grid-template-columns: 5% 30% 40% 20%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.288);
}

/* ?logo */
nav .logo{
    font-size: 2rem;
    /* background-color: blue; */
    text-align: center;
    color:rgba(158, 2, 2, 0.795)
}

/* ? text */
nav .text ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    /* background-color: red; */
}

nav .text ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/* *text hover */
nav .text ul li a:hover{
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* ?search bar */
nav .search{
    background-color: rgb(255, 255, 255);
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap:12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

nav .search input{
    border: none;
    width: 100%;
}

/* ?icons */
nav .icon{
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
    text-align: center;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

/* *icon hover */
nav .icon .bi-bell-fill:hover{
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .icon .bi-chat-dots-fill:hover{
    background-color: rgb(163, 163, 163);
    /* padding: 4px 8px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .icon .bi-person-fill:hover{
    background-color: rgb(163, 163, 163);
    /* padding: 4px 8px; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
}

/* !max width mobile */
@media (max-width:550px) {
    .container .gallery{
        /* background-color: rgb(70, 180, 147); */
        width: 100%;
        /* height: 200vh; */
        margin-top: 8vh;
        display: grid;    
        column-gap: 16px;
        grid-template-columns: repeat(2,1fr);
        padding-top: 12px;
    
    }
   
    /* !nav bar */
.container nav{
    background-color: rgb(243, 242, 242);
    width: 100%;
    height: 8vh;
    padding: 0px 12px;
    position: fixed;
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.288);
}

/* ?logo */
nav .logo{
    font-size: 2rem;
    /* background-color: blue; */
    text-align: center;
    color:rgba(158, 2, 2, 0.795)
}

/* ? text */
nav .text ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    /* background-color: red; */
}

nav .text ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/* *text hover */
nav .text ul li a:hover{
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* ?search bar */
nav .search{
display: none;
}

/* ?icons */
nav .icon{
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
    text-align: center;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   align-items: center;
   justify-content: space-evenly;
}

nav .icon .bi-search{
    display: grid;
}

/* *icon hover */
nav .icon .bi-bell-fill:hover{
    background-color: rgb(163, 163, 163);
    border-radius: 50%;

}

nav .icon .bi-chat-dots-fill:hover{
    background-color: rgb(163, 163, 163);
    /* padding: 4px 8px; */
    border-radius: 30%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .icon .bi-person-fill:hover{
    background-color: rgb(163, 163, 163);
    /*padding: 4px 8px; */
border-radius: 50%;
 
}

nav .icon .bi-search:hover{
    background-color: rgb(163, 163, 163);
    padding: 8px 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

}







